# Ignore csv files for project due to size constraints and RStudio files that should stay local

Resources/MechaCar_mpg.csv
Resources/Suspension_Coil.csv

.Rproj.user
.Rhistory
MechaCar_Statistical_Analysis.Rproj
.README.md.kate-swp
MechaCarWorkSpace.RData
